.new-note-box {
  display: flex;
  flex-direction: column;
  padding: 10px 20px;
  background-color: #eff2f7;
  > textarea {
    border: 1px solid #c2cddd;
    resize: none;
    border-radius: 3px;
    min-height: 48px;
    padding: 10px;
    background-color: white;
    outline: none;
    overflow: hidden;
  }
  textarea:empty:before {
    content: attr(placeholder);
    pointer-events: none;
    display: block;
    opacity: 0.5;
  }
}

.new-note-box__button {
  margin-left: auto;
  margin-top: 5px;
}
