.in__note {
  width: 70%;
  display: flex;
}

@media (max-width: 768px) {
  .in__note {
    width: 80%;
  }
}

@media (max-width: 550px) {
  .in__note {
    width: 100%;
  }
}

.in__note__content {
  flex-grow: 1;
}

.in__note__message {
  background-color: #eff2f7;
  padding: 10px;
}

.in__note__message--left {
  position: relative;
  text-align: left;
  display: flex;
  padding: 10px;
}

.in__note__message--left::before {
  content: '';
  position: absolute;
  visibility: visible;
  top: 0px;
  left: -8px;
  border: 8px solid transparent;
  border-top: 10px solid #eff2f7;
  clear: both;
}
