<div class="notes-container">
  <div #scrollContainer *ngIf="notes$ | async as notes" class="notes-container__content">
    <!-- in real context this list must be virtualized -->
    <div *ngFor="let note of notes" class="notes-container__note">
      <ng-container [ngSwitch]="note.type">
        <app-in-note *ngSwitchCase="noteTypes.in" [note]="note"></app-in-note>
        <app-out-note *ngSwitchCase="noteTypes.out" [note]="note"></app-out-note>
      </ng-container>
    </div>
  </div>
  <app-note-footer (publish)="handlePublish($event)"></app-note-footer>
</div>
