.button {
  border: 0;
  cursor: pointer;
  border-radius: 5px;
  width: 90px;
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.button--flat {
  color: var(--button-primary);
  background: transparent;
  padding: 0 2px;
}
.button--primary {
  color: #fff;
  background-color: var(--button-primary);
}
.button--secondary {
  background-color: var(--button-secondary);
  color: #000;
}

.button--primary:hover {
  background-color: var(--button-primary-hover);
}

.button--secondary:hover {
  background-color: var(--button-secondary-hover);
}

.button--flat:hover {
  color: var(--button-flat-hover);
}
