.note__message {
  display: flex;
  flex-direction: column
}

.note__message--collapse {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.note__message--expanded {
  display: block;
}

.note__message__button {
  margin-left: auto;
  margin-top: 5px;
}
