.note__message {
  display: flex;
  flex-direction: column
}

.note__message--collapse {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.note__message--expanded {
  display: block;
}

.note__message__button {
  margin-left: auto;
  background: transparent;
  border: 0;
  border-bottom: 1px solid;
  cursor: pointer;
  margin-top: 5px;
  padding: 0 2px;
  color: #D3135A ;
}

.note__message__button:hover {
  opacity: 0.7;
}
