.note-header__container {
  display: flex;
  padding-bottom: 10px;
}

.note-header__name {
  font-weight: bold;
  line-height: 18px;
  font-size: 14px;
}

.note-header__date {
  margin-left: auto;
  color: #667790;
  font-size: 12px;
  line-height: 18px;
}
