/* You can add global styles to this file, and also import other style files */
$scroll-color: #667790;
$scroll-background: #0E141A1A;
$button-primary: #D3135A;
$button-primary-hover: darken($button-primary, 20%);
$button-secondary: #C2CDDD;
$button-secondary-hover: darken($button-secondary, 20%);
$button-flat-hover: lighten($button-primary, 20%);

html,
body,
app-root {
  height: 100%;
  width: 100%;
  margin: 0px;
  overflow: hidden;
  display: flex;
}

* {
  box-sizing: border-box;
  font-family: Univers LT Roman, Helvetica, Arial, sans-serif;
}

:root {
  --scroll-color: #{$scroll-color};
  --scroll-background: #{$scroll-background};
  --button-primary: #{$button-primary};
  --button-secondary: #{$button-secondary};
  --button-primary-hover: #{$button-primary-hover};
  --button-secondary-hover: #{$button-secondary-hover};
  --button-flat-hover: #{$button-flat-hover};
}

*::-webkit-scrollbar {
  width: 8px;
}

*::-webkit-scrollbar-track {
  background: var(--scroll-background);
}

*::-webkit-scrollbar-thumb {
  background-color: var(--scroll-color);
  border-radius: 10px;
}

// firefox scrollbar
*{
  scrollbar-color: var(--scroll-color) var(--scroll-background);
  scrollbar-width: thin;
}

@font-face {
  font-family: 'Univers LT Roman';
  font-style: normal;
  font-weight: normal;
  src: url('./assets/font/Univers LT 55 Roman.woff') format('woff');
}

@font-face {
  font-family: 'Univers LT Roman';
  src: url('./assets/font/Univers LT 65 Bold.woff') format('woff');
  font-weight: bold;
}
