/* You can add global styles to this file, and also import other style files */
$scroll-color: #667790;
$scroll-background: #0E141A1A;

html,
body,
app-root {
  height: 100%;
  width: 100%;
  margin: 0px;
  overflow: hidden;
  display: flex;
}

* {
  box-sizing: border-box;
  font-family: Univers LT Roman, Helvetica, Arial, sans-serif;
}

:root {
  --scroll-color: #{$scroll-color};
  --scroll-background: #{$scroll-background};
}

*::-webkit-scrollbar {
  width: 8px;
}

*::-webkit-scrollbar-track {
  background: var(--scroll-background);
}

*::-webkit-scrollbar-thumb {
  background-color: var(--scroll-color);
  border-radius: 10px;
}

@font-face {
  font-family: 'Univers LT Roman';
  font-style: normal;
  font-weight: normal;
  src: url('./assets/font/Univers LT 55 Roman.woff') format('woff');
}
